<div>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">AngularFire</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/articles">Articles</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <!--Router loads component based on url here-->
    <router-outlet></router-outlet>
  </div>
</div>
